{% extends 'elearning/base.html' %}
{% block title %}All Courses - Elearning{% endblock %}
{% block content %}
    <h1>All courses</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for course in courses %}
            <div class="col">
                <div class="card shadow-sm">
                    <rect width="100%" height="100%" fill="#55595c">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="/static/elearning/course-default.png">
                        <span class="badge text-bg-primary rounded-pill"
                              style="width: fit-content;position: relative;bottom: 30px;left: 10px ">CA$ {{ course.price }}</span>
                        {% if course.allow_premier %}
                            <span class="badge bg-warning-subtle border border-warning-subtle text-warning-emphasis rounded-pill text-white"
                            style="width:fit-content;position: relative;bottom: 30px;margin-left: 10px">Premier Free</span>
                        {% endif %}
                    </rect>
                    <div class="card-body">
                        <p class="fw-bold"
                           style="margin-top:-10px;overflow: hidden;text-overflow: ellipsis; display:-webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;">{{ course.name }}</p>
                        <p class="small"
                           style="margin-top:-10px;overflow: hidden;text-overflow: ellipsis; display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{ course.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        <small class="text-body-secondary">By: {{ course.teacher }}</small>
                                <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'elearning:coursedetail' course.id %}'">Course detail</button>



                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    {% comment %} <ul>

        <li>
            <a href="{% url 'elearning:coursedetail' course.id %}">
                <img src="{{ course.image }}" alt="{{ course.name }}">
                <p>{{ course.name }}</p>
            </a>
            <p>By: {{ course.teacher }}</p>
            <p>Price: {{ course.price }}</p>
        </li>

    </ul>{% endcomment %}
{% endblock %}