{% extends 'elearning/base.html' %}
{% load bootstrap_icons %}

{% block title %}Profile - {{ user.username }}{% endblock %}
{% block content %}
    {{ course }}
    {% for l in lessons %}
        <p>{{ l.title }}</p>
    {% endfor %}
    <a href="{% url 'elearning:BuildCourseDetail' course.id lessons|length|add:1 %}">{{ lessons|length|add:1 }}</a>

    <form action="{% url 'elearning:BuildCourseDetail' course.id lesson_no %}" method="post">
        {% csrf_token %}
        {{ lesson_form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock %}