{% extends 'elearning/base.html' %}
{% load bootstrap5 %}

{% block content %}


    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                 <h1 class="fs-2 py-2">Update {{ course.name }}:</h1>
                <form action={% url 'elearning:edit-course' course.id %} method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
