{% extends 'elearning/base.html' %}
{% load static %}
{% block title %}Forgot Password - Elearning{% endblock %}

{% block content %}


    <main class=".container form-signin w-100 m-auto" >

    <img class="mb-4" src="{% static 'elearning/logo-blue.png' %}" alt="E-learning" height="57">
    <h1 class="h3 mb-3 fw-normal">Password reset complete</h1>

  <p>Your new password has been set.</p>

    <button class="btn btn-primary w-100 py-2 " onclick="location.href='{% url 'elearning:login' %}'">Go to Login</button>

    </main>


{% endblock %}