{% extends 'elearning/base.html' %}
{% load static %}
{% block title %}Forgot Password - Elearning{% endblock %}

{% block content %}


    <main class=".container form-signin w-100 m-auto" >
  <form method="post">{% csrf_token %}
    <img class="mb-4" src="{% static 'elearning/logo-blue.png' %}" alt="E-learning" height="57">
    <h1 class="h3 mb-3 fw-normal">Set your new password</h1>

      <div class="form-floating">

<input type="password" name="new_password1" class="form-control" id="floatingPassword1" placeholder="New Password" required >
        <label for="new_password1">New Password</label>
            </div>

      <div class="form-floating">
               <input type="password" name="new_password2" class="form-control" autocomplete="new-password" placeholder="Confirm Password" required="" id="floatingPassword2">
                <label for="new_password2">Confirm Password</label>
            </div>


      <p class="py-2"></p>
    <button class="btn btn-primary w-100 py-2 " type="submit">Set New Password</button>

  </form>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
  </form>

</main>


{% endblock %}