{% extends 'elearning/base.html' %}
{% load static %}
{% block title %}Forgot Password - Elearning{% endblock %}

{% block content %}


    <main class=".container form-signin w-100 m-auto" >
  <form method="post">{% csrf_token %}
    <img class="mb-4" src="{% static 'elearning/logo-blue.png' %}" alt="E-learning" height="57">
    <h1 class="h3 mb-3 fw-normal">Forgot password</h1>

    <div class="form-floating">

    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email" required />
        <label for="id_email">Email</label>

            </div>
      <p class="py-2"></p>
    <button class="btn btn-primary w-100 py-2 " type="submit">Rest Password</button>

  </form>


</main>


{% endblock %}