{% extends 'elearning/base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% load bootstrap5 %}

{% block title %}Profile - {{ user.username }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'elearning/coursebuilder_style.css' %}">

<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="fs-2 py-2">Please enter Question details for <i>{{ lesson.title }}</i> :</h1>
            <table class="my-table-style" style="top: 10px;">
                <tr>
                    <th><h4> 
                        Question List
                      </h4></th>
                      <th><h4> 
                        Question Details
                      </h4></th>
                </tr>
            <tr>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <tr>
                    <td style="position: absolute;">
                        {% for q in quiz %}
                            <ol><a href="{% url 'elearning:teacher-buildquiz' course_id lesson.lesson_no q.question_no %}">{{ q.question }}</a></ol>
                        {% endfor %}
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary" href="{% url 'elearning:teacher-buildquiz' course_id lesson.lesson_no quiz|length|add:1 %}">Add New Question</a>
                        </div>
                    </td>
                    <td>
                    <form action="{% url 'elearning:teacher-buildquiz' course_id lesson.lesson_no question_no %}" method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary" href="{% url 'elearning:teacher-buildcoursedetail' course_id lesson.lesson_no %}">Back</a>
                            <a class="btn btn-primary" href="{% url 'elearning:teacher-deletequestion' course_id lesson.lesson_no question_no %}">Delete</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                    </td>
                </tr>
        
                </div>    
            </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}