{% extends 'elearning/base.html' %}
{% load bootstrap5 %}

{% block content %}



    <div class="container">
    <div class="row">
      <div class="card h-100">
          <p class="d-flex justify-content-end">
          <a class="btn btn-outline-primary fs-6" href="">Edit Course details</a>
        </p>

        <img src="{{ course.image.url }}" class="card-img-top" alt="Course Image" style="max-height:50%; max-width:50%; align-self: center">
        <div class="card-body">
          <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Course Name:</td>
          <td>{{ course.name }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>{{ course.description }}</td>
        </tr>
        <tr>
          <td>Categories:</td>
          <td>{{ categories }}</td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>$ {{ course.price }}</td>
        </tr>
      </tbody>
    </table>

        </div>
      </div>

    </div>


    <div class="card">
  <div class="card-header">
    Lessons
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>//Lessons will be listed here</p>
    </blockquote>
  </div>
</div>


{#    <div class="card mb-3" style="height: auto">#}
{#    <h2>Course: {{ course.name }}</h2>#}
{#  <img src="{{ course.image.url }}" class="Course image" style="max-height:50%; max-width:50%; align-self: center" alt="...">#}
{#      <div class="card-body" style="height: auto">#}
{#        <p class="card-text">{{ course.description }}</p>#}
{#        <p class="card-text">Categories: {{ categories }}</p>#}
{#        <p class="card-text"><small class="text-muted">Price: {{ course.price }}</small></p>#}
{#        <p><a class="btn btn-lg btn-primary mx-3" href="">Edit Course detaild</a></p>#}
{#      </div>#}
{#    </div>#}



{#    <div class="card">#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#      </div>#}
{#      <img src="..." class="card-img-bottom" alt="...">#}
{#    </div>#}
{% endblock %}
